<section class="container" ng-cloak>
    <header>
        <h2>Tariff Profiles</h2>

    </header>
    <!--<div class=" panel panel-primary">-->
    <!--<div class="panel-heading">-->
    <!--<h4 class="panel-title">Simple three tier tariff</h4>-->
    <!--</div>-->
    <form name="loginForm" novalidate ng-submit="submit()" role="form">

        <legend>Fill Setup Parameters</legend>

        <div ng-repeat="appliance in [1,2,3]">
            <div class="col-xs-1">
                <input id="{{ profile.profileId }}" name="{{ profile.profileId }}" type="number" class="form-control"
                       ng-required="true" min="0" max="8" ng-model="profile.numberOfInstances"
                       ng-change="profile.change()"/>
            </div>
            <h4>Instances of appliance profile: <strong><em>{{ $index }}</em></strong></h4>
            <br>
            <div class="responsive-wrapper" style="padding-top: {{ 70 }}%;">
                <div class="responsive-content" id="svg1" ng-include="'partials/temperature.svg'"/>
                </div>
            <br><br>
            </div>
        </div>

        <div class="control-group col-md-2 col-md-offset-4">
            <div class="controls">
                <button class="btn btn-primary btn-block" ng-disabled="form.$invalid" type="submit">Go</button>
            </div>
        </div>

        Debug View:
        <pre>form={{tariffIndex.id | json}}</pre>

    </form>
</section>