<a ng-model="showSetupDetails" ng-init="showSetupDetails=true" ng-show="showSetupDetails" ng-click="showSetupDetails=!showSetupDetails">Toggle Setup Details</a>
<div ng-show="showSetupDetails">
    <h2>Setup Details</h2>
    <div>
        <h4>Upper power threshold: {{setup.upperPowerThreshold}}</h4>
        <hr/>
    </div>

    <div>
        <div class="responsive-wrapper" style="padding-top: {{ 30 }}%;">
            <div class="responsive-content" ng-include="profileImage(setup.tariffProfile)"></div>
        </div>
        <h4>Tariff: {{setup.tariffProfile}}</h4>
        <hr/>
    </div>

    <div ng-if="setup.solarProfile">
        <div class="responsive-wrapper" style="padding-top: {{ 30 }}%;">
            <div class="responsive-content" ng-include="profileImage(setup.solarProfile)"></div>
        </div>
        <h4>Solar: {{setup.solarProfile}}</h4>
    </div>
    <div ng-if="!setup.solarProfile">
        <h4>Solar: null</h4>
    </div>
    <hr/>

    <div ng-if="setup.loadProfile">
        <div class="responsive-wrapper" style="padding-top: {{ 30 }}%;">
            <div class="responsive-content" ng-include="profileImage(setup.loadProfile)"></div>
        </div>
        <h4>Load Forecasting: {{setup.loadProfile}}</h4>
    </div>
    <div ng-if="!setup.loadProfile">
        <h4>Load: null</h4>
    </div>
    <hr/>

    <div ng-repeat="profile in setup.applianceProfiles | orderByPriority">
        <div ng-show="profile.numberOfInstances > 0">
            <div class="responsive-wrapper" style="padding-top: {{ 30 }}%;">
                <div class="responsive-content" ng-include="profileImage(profile.id)"/>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Appliance Name</th>
                    <th>Start After</th>
                    <th>End Before</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="appliance in profile.instances">
                    <td>{{ appliance.name }}</td>
                    <td>{{ appliance.startTime }}</td>
                    <td>{{ appliance.endTime }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<a ng-click="showSetupDetails=!showSetupDetails">Toggle Setup Details</a>

<div ng-repeat="(runKey,runVal) in setup.runs">
    <h2 title="{{runKey}}">Run {{$index + 1}}/{{countFields(setup.runs)}}: {{runVal.name || runKey}}</h2>
    <img ng-if="runVal.result.schedulegraph" src="{{generateImgUrl(runVal.result.schedulegraph)}}" title="{{generateImgUrl(runVal.result.schedulegraph)}}"/>
    <img ng-if="runVal.result.evolutiongraph" src="{{generateImgUrl(runVal.result.evolutiongraph)}}" title="{{generateImgUrl(runVal.result.evolutiongraph)}}"/>
    <div ng-if="!isNotANumber(runVal.result.statistics.cost)">
        <h3>Schedule</h3>
        <table class="table table-bordered table-striped">
            <tr>
                <th>Name</th>
                <th>Schedule</th>
                <th>Start Time</th>
                <th>End Time</th>
            </tr>
            <tr ng-if="getTypeOf( runVal.result.schedule ) === '[object Array]'" ng-repeat="scheduleInstance in runVal.result.schedule">
                <!-- The ng-ifs are necessary because, when Matlab generates an array of one object, it zips it to just the object, so it is no more an array!?! -->
                <td>{{scheduleInstance.name}}</td>
                <td>{{scheduleInstance.schedule}}</td>
                <td>{{scheduleInstance.startTime}}</td>
                <td>{{scheduleInstance.endTime}}</td>
            </tr>
            <tr ng-if="!(getTypeOf( runVal.result.schedule ) === '[object Array]')">
                <td>{{runVal.result.schedule.name}}</td>
                <td>{{runVal.result.schedule.schedule}}</td>
                <td>{{runVal.result.schedule.startTime}}</td>
                <td>{{runVal.result.schedule.endTime}}</td>
            </tr>
        </table>
    </div>
    <div ng-if="isNotANumber(runVal.result.statistics.cost)">
        <h3>No feasible schedule found!</h3>
    </div>
    <h3>Statistics</h3>
    <table class="table table-bordered table-striped">
        <tr ng-repeat="(k,v) in runVal.result.statistics">
            <td>{{k}}</td>
            <td>{{v}}</td>
        </tr>
    </table>
    <hr/>
</div>