<div class="container" ng-cloack>
    <div ng-hide="auth.user">Sign in to begin</div>

    <div ng-show="auth.user">
        <h2>Setup List</h2>

        <ul class="row" ng-repeat="setup in setups | orderByPriority">
            <li>
                <a ng-model="clicked" ng-init="clicked=false" ng-click="clicked = !clicked" title="{{setup.$id}}">{{setup.name || setup.$id}}</a>

                <div ng-if="clicked" class="animate-if">
                    <div class="col-xs-12 col-sm-11 col-md-10">
                        <h2>Setup Details</h2>

                        <div ng-include="'partials/setupview.html'"></div>

                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <a class="btn btn-default" ng-click="cloneSetup(setup, clonedSetup)" ng-hide="runningOptions.running || runningOptions.configuringRun"
                                   data-loading-text="Please Wait..."
                                   ng-href="#/setupwizard">Clone Setup</a>
                                <a ng-show="runningOptions.running" href="{{getStagingJobUrl(runningOptions.jobRef.path.m[1])}}"
                                   target="_blank">[stagingJob: {{runningOptions.jobRef.path.m[1]}}]</a>
                                <div class="bs-docs-example" ng-show="runningOptions.configuringRun">
                                    <span for="scale">Scale [0.001 – 10]</span>
                                    <input id="scale" name="scale"
                                           class="form-control"
                                           type="number" step="any"
                                           ng-required="true"
                                           ng-model="runningOptions.scale">
                                    <span for="genderRatio">Gender Ratio [0.001 – 10]</span>
                                    <input id="genderRatio" name="genderRatio"
                                           class="form-control"
                                           type="number" step="any"
                                           ng-required="true"
                                           ng-model="runningOptions.genderRatio">
                                    <span for="levyAlpha">Levy Alpha [0.5 – 1.9]</span>
                                    <input id="levyAlpha" name="levyAlpha"
                                           class="form-control"
                                           type="number" step="any"
                                           ng-required="true"
                                           ng-model="runningOptions.levyAlpha">
                                    <span for="temperature">Temperature [0 – 10]</span>
                                    <input id="temperature" name="temperature"
                                           class="form-control"
                                           type="number" step="any"
                                           ng-required="true"
                                           ng-model="runningOptions.temperature">
                                    <span for="runningTime">Run time (in secs)</span>
                                    <input id="runningTime" name="runningTime"
                                           class="form-control"
                                           type="number"
                                           ng-required="true"
                                           ng-model="runningOptions.runningTime">
                                    <span for="swarmSize">Swarm Size [5 – 50]</span>
                                    <input id="swarmSize" name="swarmSize"
                                           class="form-control"
                                           type="number"
                                           ng-required="true"
                                           ng-model="runningOptions.swarmSize">
                                    <span for="totalStats">Total Stats [0 – 500]</span>
                                    <input id="totalStats" name="totalStats"
                                           class="form-control"
                                           type="number"
                                           ng-required="true"
                                           ng-model="runningOptions.totalStats">
                                    <select ng-model="runningOptions.strategy">
                                        <option value="butterfly">Butterfly Mating Algorithm</option>
                                        <option>Particle Swarm Optimization</option>
                                        <option>Genetic Algorithm</option>
                                        <option>Simulated Annealing</option>
                                        <option>Firefly Algorithm</option>
                                        <option>Cuckoo Search</option>
                                        <option>Bat Algorithm</option>
                                        <option>Ant Colony Optimization</option>
                                        <option>Quantum Particle Swarm w/ Lévy</option>
                                    </select>
                                    <a class="btn btn-primary" ng-click="cancelRunConfiguration(setup)" ng-show="runningOptions.configuringRun">Cancel</a>
                                    <a class="btn btn-primary" ng-click="runSetup(setup)" ng-show="runningOptions.configuringRun">Launch Run</a>
                                </div>
                                <a class="btn btn-primary" ng-click="configureRun(setup)" ng-hide="runningOptions.running || runningOptions.configuringRun">New Run</a>
                                <a class="btn btn-primary" ng-click="abortRun(setup)" ng-show="runningOptions.running">Cancel Run</a>
                                <i class="fa fa-spinner fa-spin" ng-show="runningOptions.running"></i>
                            </div>
                        </form>
                        <a ng-click="$parent.clicked=false" title="closeSetup{{setup.$id}}" ng-hide="runningOptions.running || runningOptions.configuringRun">2 Close Setup</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>