<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-11 col-md-10">
            <h1>Setup Wizard</h1>

            <div rc-wizard="setupWizard" rc-disabled="rc.tariffSelectionForm.submitInProgress">

                <ul class="nav rc-nav-wizard">
                    <li class="active">
                        <a class="active" href="#tariffSelection" data-toggle="tab">
                            <span class="badge">1</span>
                            <span>Tariff, Solar, and Load Profiles</span>
                        </a>
                    </li>
                    <li>
                        <a href="#applianceSelection" data-toggle="tab">
                            <span class="badge">2</span>
                            <span>Appliance Profiles</span>
                        </a>
                    </li>
                    <li>
                        <a href="#applianceConfiguration" data-toggle="tab">
                            <span class="badge">3</span>
                            <span>Appliance Config</span>
                        </a>
                    </li>
                    <li>
                        <a href="#setupSummary" data-toggle="tab">
                            <span class="badge">4</span>
                            <span>Summary</span>
                        </a>
                    </li>
                </ul>
                <br/><br/>

                <div class="form-group">
                    <div class="pull-right">
                        <a class="btn btn-default" ng-click="rc.setupWizard.backward()"
                           ng-show="rc.setupWizard.currentIndex > rc.setupWizard.firstIndex">Back</a>
                        <a class="btn btn-primary" data-loading-text="Please Wait..."
                           ng-click="rc.setupWizard.forward()"
                           ng-show="rc.setupWizard.currentIndex < rc.setupWizard.navigationLength">Continue</a>
                        <a class="btn btn-primary" ng-click="rc.setupWizard.forward()"
                           ng-show="rc.setupWizard.currentIndex == rc.setupWizard.navigationLength">Complete</a>
                    </div>
                </div>

                <div class="tab-content">

                    <form class="tab-pane active" id="tariffSelection" name="tariffSelectionForm" rc-step novalidate>

                        <h2>Tariff, Solar, and Load Profiles</h2>

                        <div class="bs-docs-example">
                            <div>Threshold: {{setup.upperPowerThreshold}}W</div>
                            <div>{{setup.tariffProfile}}</div>
                            <div>{{setup.solarProfile}}</div>
                            <div>{{setup.loadProfile}}</div>
                        </div>

                        <div class="bs-docs-example">
                            <h4><b>Upper power threshold (1000 W - 10000 W)</b></h4>
                            <div>
                                <input id="upperPowerThreshold" name="upperPowerThreshold" class="form-control"
                                       type="number"
                                       ng-required="true"
                                       value="2000"
                                       ng-model="setup.upperPowerThreshold">
                            </div>
                        </div>

                        <div class="bs-docs-example">
                            <h4><b>Tariff</b></h4>
                            <div ng-repeat="(tkey,tval) in profiles.tariffProfiles">
                                <!-- does not work with ordering (" | orderByPriority")! -->
                                <div class="radio">
                                    <input type="radio" id="tariffProfile{{tkey}}" name="tariffProfile{{tkey}}"
                                           value="{{tval}}"
                                           ng-model="setup.tariffProfile" ng-checked="setup.tariffProfile==tval"/>
                                    <h5>{{tval}}</h5>
                                    <!--
                                                                    <h4>setup.tariffProfile = {{setup.tariffProfile}}</h4>
                                                                    <h4>setup.tariffProfile == tval : {{setup.tariffProfile == tval}}</h4>
                                    -->
                                </div>
                                <div class="responsive-wrapper" style="padding-top: {{ 30 }}%;">
                                    <div class="responsive-content" ng-include="profileImage(tkey)"></div>
                                </div>
                                <br/><br/>
                            </div>
                            <!--
                                                    <pre>{{profiles.tariffProfiles | json}}</pre>
                                                    <pre>{{setup.tariffProfile | json}}</pre>
                            -->
                        </div>

                        <div class="bs-docs-example">
                            <h4><b>Solar</b></h4>
                            <div ng-repeat="(skey,sval) in profiles.solarProfiles">
                                <div class="radio">
                                    <input type="radio" id="solarProfile{{skey}}" name="solarProfile{{skey}}"
                                           value="{{sval}}"
                                           ng-model="setup.solarProfile" ng-checked="setup.solarProfile == sval"/>
                                    <h5>{{skey}}</h5>
                                </div>
                                <div class="responsive-wrapper" style="padding-top: {{ 30 }}%;">
                                    <div class="responsive-content" ng-include="profileImage(skey)"></div>
                                </div>
                                <br/><br/>
                            </div>
                            <div class="radio">
                                <input type="radio" id="solarProfileNull" name="solarProfileNull"
                                       value=""
                                       ng-model="setup.solarProfile" ng-checked="!setup.solarProfile"/>
                                <h5>Null Solar Profile</h5>
                            </div>
                        </div>

                        <div class="bs-docs-example">
                            <h4><b>Load</b></h4>
                            <div ng-repeat="(lkey,lval) in profiles.loadProfiles"> <!-- does not work with ordering! -->
                                <div class="radio">
                                    <input type="radio" id="loadProfile{{lkey}}" name="loadProfile{{lkey}}"
                                           value="{{lval}}"
                                           ng-model="setup.loadProfile" ng-checked="setup.loadProfile == lval"/>
                                    <h5>{{lkey}}</h5>
                                </div>
                                <div class="responsive-wrapper" style="padding-top: {{ 30 }}%;">
                                    <div class="responsive-content" ng-include="profileImage(lkey)"></div>
                                </div>
                                <br/><br/>
                            </div>
                            <div class="radio">
                                <input type="radio" id="loadProfileNull" name="loadProfileNull"
                                       value=""
                                       ng-model="setup.loadProfile" ng-checked="!setup.loadProfile"/>
                                <h5>Null Load Profile</h5>
                            </div>
                        </div>
                    </form>

                    <form class="tab-pane" id="applianceSelection" name="applianceSelectionForm" rc-submit="validateSetup()" rc-step>
                        <h2>Appliance Profiles</h2>

                        <div class="bs-docs-example">
                            <div ng-repeat="profile in setup.applianceProfiles">
                                <div>{{ profiles.applianceProfiles[profile.id]}}: {{profile.numberOfInstances}}</div>
                            </div>
                        </div>

                        <div ng-repeat="profile in setup.applianceProfiles">
                            <div class="col-xs-1">
                                <input id="{{ profile.id }}" name="{{ profile.id }}" type="number" class="form-control"
                                       ng-required="true" min="0" max="8" ng-model="profile.numberOfInstances"/>
                            </div>
                            <h4>Instances of <strong><em>{{ profiles.applianceProfiles[profile.id] }}</em></strong></h4>
                            <br/>

                            <div class="responsive-wrapper" style="padding-top: {{ 30 }}%;">
                                <div class="responsive-content" id="svg2" ng-include="profileImage(profile.id)"></div>
                            </div>
                            <br/><br/>
                        </div>
                    </form>

                    <form class="tab-pane" id="applianceConfiguration" name="applianceConfigurationForm" rc-submit rc-step>
                        <h2>Appliance Config</h2>

                        <div ng-repeat="profile in setup.applianceProfiles">
                            <div ng-show="profile.numberOfInstances > 0">

                                <div class="responsive-wrapper" style="padding-top: {{ 30 }}%;">
                                    <div class="responsive-content" id="svg3" ng-include="profileImage(profile.id)"></div>
                                </div>

                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="appliance in profile.instances">
                                        <div class="form-group row">

                                            <div class="col-xs-10 col-sm-8 col-md-6">
                                                <label for="applianceName">Set a name for this appliance</label>
                                                <input id="applianceName" name="applianceName" type="text"
                                                       class="form-control input-md"
                                                       placeholder="Appliance Name"
                                                       required ng-model="appliance.name">
                                            </div>


                                            <div class="col-xs-3 col-sm-2">
                                                <label for="startAfter">Start after</label>
                                                <input id="startAfter" class="form-control"
                                                       name="startTime"
                                                       type="time"
                                                       ng-required="true" ng-model="appliance.startTime"
                                                       ng-pattern="timeFormat">
                                            </div>

                                            <div class="col-xs-3 col-sm-2">
                                                <label for="endBefore">End before</label>
                                                <input id="endBefore" name="endBefore" class="form-control"
                                                       type="time"
                                                       ng-required="true"
                                                       ng-model="appliance.endTime" ng-pattern="timeFormat">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </form>

                    <form class="tab-pane" id="setupSummary" name="setupSummaryForm" rc-submit="postSetup()" rc-step>
                        <h2>Summary</h2>

                        <div class="bs-docs-example">
                            <h4><b>Name</b></h4>
                            <div>
                                <input id="setupName" name="setupName" class="form-control"
                                       type="text"
                                       ng-required="true"
                                       ng-model="setup.name">
                            </div>
                        </div>

                        <div ng-include="'partials/setupview.html'"></div>
                    </form>
                </div>
                <div class="form-group">
                    <div class="pull-right">
                        <a class="btn btn-default" ng-click="rc.setupWizard.backward()"
                           ng-show="rc.setupWizard.currentIndex > rc.setupWizard.firstIndex">Back</a>
                        <a class="btn btn-primary" data-loading-text="Please Wait..."
                           ng-click="rc.setupWizard.forward()"
                           ng-show="rc.setupWizard.currentIndex < rc.setupWizard.navigationLength">Continue</a>
                        <a class="btn btn-primary" ng-click="rc.setupWizard.forward()"
                           ng-show="rc.setupWizard.currentIndex == rc.setupWizard.navigationLength">Complete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>