<div class="container" ng-cloack>
    <h2>Setup List</h2>

    <ul class="row" ng-repeat="setup in setups | orderByPriority">
        <li>
            <a ng-model="clicked" ng-init="clicked=false" ng-click="clicked = !clicked">{{setup.$id}}</a>

            <div ng-if="clicked" class="animate-if">
                <div class="col-xs-12 col-sm-11 col-md-10">
                    <h2>Setup Details</h2>

                    <div ng-include="'partials/setupview.html'"></div>

                    <div class="form-group">
                        <div class="pull-right">
                            <a class="btn btn-default" ng-click="cloneSetup(setup)"  data-loading-text="Please Wait..."
                               ng-href="#/setupwizard">Clone Setup</a>

                            <a class="btn btn-primary" ng-click="runSetup(setup)" data-loading-text="Please Wait...">New Run</a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>