<section class="container" ng-cloak>
    <header>
        <h2>Tariff Profiles</h2>

    </header>
    <!--<div class=" panel panel-primary">-->
    <!--<div class="panel-heading">-->
    <!--<h4 class="panel-title">Simple three tier tariff</h4>-->
    <!--</div>-->
    <form name="loginForm" novalidate ng-submit="submit()" role="form">

        <legend>Fill Setup Parameters</legend>

        <div ng-repeat="appliance in [1,2,3]">
                    <div class="radio">
                        <label>
                            <input type="radio" name="optionsRadios" value="{{$index}}"
                                   ng-model="tariffIndex.id" checked="{{$index == tariffIndex.id}}"/>

                            <h4>This is tariff No. {{$index}}</h4>

                        </label>
                    </div>
            <div class="responsive-wrapper" style="padding-top: {{ 30 }}%;">
                <div class="responsive-content" id="svg1" ng-include="'partials/tariff.svg'" on-finish-render="svgsRendered"/>
                </div>
            <br><br>
            </div>
        </div>

        <div class="control-group col-md-2 col-md-offset-4">
            <div class="controls">
                <button class="btn btn-primary btn-block" ng-disabled="form.$invalid" type="submit">Go</button>
            </div>
        </div>

        Debug View:
        <pre>form={{tariffIndex.id | json}}</pre>

    </form>
</section>
