<section class="container" ng-cloak>
    <header>
        <h2>Tariff Profiles</h2>

    </header>
    <!--<div class=" panel panel-primary">-->
        <!--<div class="panel-heading">-->
            <!--<h4 class="panel-title">Simple three tier tariff</h4>-->
        <!--</div>-->
    <div ng-repeat="appliance in [1,2,3]">
    <h3 class="text-center">Simple Three Tier Tariff</h3>
        <div class="row">
          <div class="col-md-2">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                </label>
            </div>
              </div>
            <div class="col-md-10" style="position: relative; height: 300px; display: block;">
               <div id="svg1" ng-include="'partials/tiger.svg'" on-finish-render="svgsRendered"/>
            </div>
        </div>
       </div>
</section>